[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-termstyle = "*"
requests = "*"


[dev-packages]

pyhamcrest = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
